<a href="https://colab.research.google.com/github/SivaKumarSekar01/pythonlab/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a Tuple**

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuples allow duplicate values**

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**Print the number of items in the tuple**

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**Tuple items can be of any data type**

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

**What is the data type of a tuple?**

In [6]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

**Using the tuple() method to make a tuple**

In [7]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

**Print the second item in the tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

**Print the last item of the tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

**Return the third, fourth, and fifth item**

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

**returns the items from the beginning to, but NOT included, "kiwi"**

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

 **example returns the items from "cherry" and to the end**

In [8]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

**returns the items from index -4 (included) to index -1 (excluded)**

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

**Check if "apple" is present in the tuple**

In [13]:
thistuple = ("apple", "banana", "cherry")
if "banana" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

**Convert the tuple into a list to be able to change it**

In [14]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Convert the tuple into a list, add "orange", and convert it back into a tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

**Create a new tuple with the value "orange", and add that tuple**

In [15]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Convert the tuple into a list, remove "apple", and convert it back into a tuple**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

**The del keyword can delete the tuple completely**

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

**Unpacking a tuple**

In [16]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Assign the rest of the values as a list called "red"**

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

**Add a list of values the "tropic" variable**

In [17]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

**Iterate through the items and print the values**

In [23]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Print all items by referring to their index number**

In [22]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

**Print all items, using a while loop to go through all the index numbers**

In [21]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

**Join two tuples**

In [20]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply the fruits tuple by 2**

In [19]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')